# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# IntelliJ IDEA
.idea/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db